<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linghang.test.secondhandtransactions.mapper.UserCollectionMapper">

    <resultMap id="BaseResultMap" type="com.linghang.test.secondhandtransactions.Entity.User_collection">
            <id property="id" column="id" />
            <result property="uid" column="uid" />
            <result property="pid" column="pid" />
            <result property="collectionTime" column="collection_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,pid,collection_time
    </sql>


</mapper>
